/*=============================== Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-image: url("/assets/pattern-background-desktop.svg");
}

main {
  background-color: hsl(225, 100%, 94%,0.6);
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10vh;
}

.container {
  display: flex;
  align-items: flex-end;
  border-radius: 1rem;
  width: 25rem;
  height: 85vh;
  background-image: url("/assets/illustration-hero.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: rgb(253, 250, 246);
  background-size: contain
}

.inside {
  padding: 2rem;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


h3 {
  padding-top: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin: 1rem 0 .5rem 0;
}

.proceed:hover{
  background-color: hsl(245, 91%, 58%);
}

p , span{
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  opacity: 0.5;
  font-weight: 500;

}

.changePlan {
  display: flex;
  background-color: rgba(220, 225, 240, 0.7);
  border-radius: 1rem;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
}

.change {
  flex: 4;
  text-align: right;
  text-decoration: none;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.changePlan > p {
  flex: 4;
  font-weight: 900;
  opacity: 1;
}
img {
  flex: 1;
  max-width: 36px;
  height: auto;
}

.attribution {
  margin-top: .5rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.proceed{
  background-color: hsl(245, 75%, 52%);
  color: white;
  padding: .8rem;
  margin: 1rem 0;
  border-radius: .5rem;
  text-decoration: none;
  font-family:  'Red Hat Display', sans-serif;
  font-size: 14px;
  box-shadow: 2px 6px 20px  hsla(245, 75%, 52%, 0.288);
}

.cancel{
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.493);
  font-family:  'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 12px;
  margin-top: .5rem;
}